.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.image_button{
    padding: 10px;
}
.adv_search_button{
    padding: 10px;
}

.image_button button {
    padding: 2px;
    border-radius: 4px;
    border-color: #d2dae2;
    font-size: 16px;
}
.image_button button:hover {
    border: 2px solid#1e272e;
    box-shadow: 4px 4px 20px 0px rgb(167, 162, 162);
    transform: scale(1.07);
}

.adv_search_button button {
    padding: 2px;
    border-radius: 4px;
    border-color: #d2dae2;
    font-size: 16px;
}

.adv_search_button button:hover {
    border: 2px solid#1e272e;
    box-shadow: 4px 4px 20px 0px rgb(167, 162, 162);
    transform: scale(1.07);
}        
        
       
        
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 16vw;
}

img {
    width: 350px;
    height: 150px;
} 

img:hover {
    transform: scale(1.1);
}

.search_box input {
    height: 3vw;
    width: 34vw;
    border: 2px solid rgb(192, 188, 188);
    border-radius: 24px;
    font-size: 16px;
}

.search_box input:hover {
    box-shadow: 10px 10px 20px 4px rgb(73, 71, 71);
}

.search_button button {
    margin-top: 2vw;
    padding: 8px;
    border-radius: 4px;
    border-color: #d2dae2;
    font-size: 16px;
}

.search_button button:hover {
    border: 2px solid#1e272e;
    box-shadow: 10px 10px 20px 0px rgb(73, 71, 71);
    transform: scale(1.07);
} 

@media screen and (max-width: 600px) {
    .search_box input {
        width: 95vw;
        height: 30px;
    }
    
}
    





/* .image_button {
    position: absolute;
    margin-left: 82vw;
    top: 2vw;
    width: auto;
}

.image_button button {
    padding: 2px;
    width: auto;
    border-radius: 4px;
    border-color: #d2dae2;
    font-size: 16px;
}

.image_button button:hover {
    border: 2px solid#1e272e;
    box-shadow: 4px 4px 20px 0px rgb(167, 162, 162);
    transform: scale(1.07);
} */

/* .adv_search_button {
    position: absolute;
    margin-left: 88vw;
    top: 2vw;
    width: auto;
}

.adv_search_button button {
    padding: 2px;
    width: auto;
    border-radius: 4px;
    border-color: #d2dae2;
    font-size: 16px;
}

.adv_search_button button:hover {
    border: 2px solid#1e272e;
    box-shadow: 4px 4px 20px 0px rgb(167, 162, 162);
    transform: scale(1.07);
} */        
